LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.vshost.exe.manifest
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csprojResolveAssemblyReference.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LINQtoSQL/Db/obj/Release/Linq2SQL.dbproj.FileListAbsolute.txt
LINQtoSQL/Db/obj/Release/Linq2SQL.dbschema
LINQtoSQL/LINQtoSQL/bin/Release/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/bin/Release/LINQtoSQL.exe.config
LINQtoSQL/LINQtoSQL/bin/Release/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/bin/Release/LINQtoSQL.vshost.exe
LINQtoSQL/LINQtoSQL/bin/Release/LINQtoSQL.vshost.exe.config
LINQtoSQL/LINQtoSQL/bin/Release/LINQtoSQL.vshost.exe.manifest
LINQtoSQL/LINQtoSQL/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
LINQtoSQL/LINQtoSQL/obj/x86/Release/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Release/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Release/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Release/TempPE/DAL.Linq2SQLClasses.designer.cs.dll
LINQtoXML/LINQtoXML/bin/Debug/LINQtoXML.exe
LINQtoXML/LINQtoXML/bin/Debug/LINQtoXML.pdb
LINQtoXML/LINQtoXML/bin/Debug/LINQtoXML.vshost.exe
LINQtoXML/LINQtoXML/bin/Debug/LINQtoXML.vshost.exe.manifest
LINQtoXML/LINQtoXML/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LINQtoXML/LINQtoXML/obj/x86/Debug/LINQtoXML.csproj.FileListAbsolute.txt
LINQtoXML/LINQtoXML/obj/x86/Debug/LINQtoXML.exe
LINQtoXML/LINQtoXML/obj/x86/Debug/LINQtoXML.pdb
