LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.vshost.exe.manifest
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csprojResolveAssemblyReference.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.csproj.FileListAbsolute.txt
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/obj/x86/Debug/LINQtoSQL.pdb
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.exe
LINQtoSQL/LINQtoSQL/bin/Debug/LINQtoSQL.pdb
